html, 
body{
    height: 100%;
    margin: 0; 
}
body{
    background-color:rgb(241, 232, 232);
    /* overflow: visible; */
    
}
.wrapper{
    min-height: 100%;
    margin-bottom: -56px;
}
.card-title{
    font-family: 'Noto Sans', sans-serif;
    position: relative; 
}

.about{
    padding-top: 150px; 
}
.card-text{
    margin-top: 25px; 
   
}
h3{
    color: rgba(236, 128, 128, 0.9);
    font-family: 'Clicker Script', cursive;
}

.placeholder img{
    margin: auto;
}
h1{
    color: rgb(243, 215, 215);
    font-family: 'Clicker Script', cursive;
}
#port{
    text-align: center;
    color: rgba(236, 128, 128, 0.9);
    font-family: 'Clicker Script', cursive;
}
h2{
    text-align: center; 
    margin-top: 20px;    
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(243, 215, 215);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(236, 128, 128, 0.9);
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 200px;
    max-height: 400px;
    float: left;
    margin: 10px;
}
.placeholder{
    padding: .75rem;

}
.text-center{
    color:rgb(243, 215, 215);
}
.form-group{

    margin-left: 40px;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 60px; 
}

footer, 
.push{
    height: 56px; 
}

.carousel-caption {
    max-width: 100%;
    width:100%;
    background:white;
    left: 0;
    bottom: 0;
    color:#000000;
}

@media (max-width: 768px) {
    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 200px;
        max-height: 400px;
        float: none;
        margin: 15px;
    }
 }
 